<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">QuizTopia</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active home-button"
            aria-current="page"
            id="home-link"
            href="../index.html"
          >
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Quizzes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="../pages/popCultureQuiz.html">
                Pop Culture Quiz
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="../pages/scienceQuiz.html">
                Science Quiz
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="../pages/sportsQuiz.html">
                Sports Quiz
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="../pages/technologyQuiz.html">
                Technology Quiz
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
